{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "react/destructuring-assignment": 0,
    "import/no-extraneous-dependencies": [
      "error", { "devDependencies": ["webpack.*.js", "./mock/**/*.*"] }
    ]
  },
  "env": {
    "browser": true
  }
}
